@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@font-face {
  font-family: "Iransans";
  src: url("./assets/fonts/IRANSansWeb.woff2") format("woff2"),
    url("./assets/fonts/IRANSansWeb.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Iransans Bold";
  src: url("./assets/fonts/IRANSansWeb_Bold.woff2") format("woff2"),
    url("./assets/fonts/IRANSansWeb_Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Iransans Light";
  src: url("./assets/fonts/IRANSansWeb_Light.woff2") format("woff2"),
    url("./assets/fonts/IRANSansWeb_Light.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
